body {
    font-family: 'Poppins', sans-serif;
    background:  url("../icon/path.png") left bottom no-repeat;
}
.header {
    overflow: hidden;
    margin: 0px 90px 0px 90px;
}
.logo {
    float: left;
    width: 130px;
    height: 30;
    margin:20px 0px 0px 60px;
}
.liste {
    float: right;
}
.liste-eleman {
    float: left;
    list-style-type: none;
    margin: 0px 36px 0px 0px;
}
.left-block {
    width: 40%;
    overflow: hidden;
    float: left;
    margin: 0 0 0 150px;
}
.baslik {
    font-weight: 700;
    font-size: 50px;
    color: #161A49; 
    margin: 0 0 60px 0;
}
.metin {
    color: #727B90;
    margin: 0 0 47px 0;
}
.ana-foto {
    width: 400px;
    height: 340px;
    margin: 0px 100px 0px 40px;
}
.right-block {
    float: right;
}
.link {
    text-decoration: none;
    display: block;
    background: #6FBF44;
    line-height: 35px;
    color: white;
    border-radius: 6px;
    width: 190px;
    text-align: center;
    
}

.liste-eleman a {
    text-decoration: none;
    color: #17233D;
    font-size: 14px;
    line-height: 47px;
}

.giris {
    background: #6FBF44;
    border-radius: 6px;
    padding: 0px 28px;
    color: #FFFFFF !important;
    text-decoration: none;
    display: block;
}
.header ul {
    overflow: hidden;
}
.main {
    overflow: hidden;
    margin: 150px 0 50px 0px;
}
.menu {
    margin: 0px;
    float: right;
    margin: 15px 0px 0px 0px;
}